- subject = local_assigns.fetch(:subject, current_user)
- include_private = local_assigns.fetch(:include_private, false)

#js-snippets-tabs.gl-display-flex.gl-flex-grow-1.gl-my-6{ data: { tabs: snippets_tabs_data(subject, include_private, counts).to_json } }
