- if can?(current_user, :push_code, @project)
  - can_create_merge_request = can?(current_user, :create_merge_request_in, @project)
  -# - data_action = can_create_merge_request ? 'create-mr' : 'create-branch'
  -# - value = can_create_merge_request ? 'Create merge request' : 'Create branch'
  -# - value = can_create_confidential_merge_request? ? _('Create confidential merge request') : value
  -# - create_mr_text = can_create_confidential_merge_request? ? _('Create confidential merge request') : _('Create merge request')

  - can_create_path = can_create_branch_project_issue_path(@project, @issue)
  - create_mr_path = create_merge_request_project_issue_path(@project, @issue, branch_name: @issue.to_branch_name, ref: @project.default_branch)
  - create_branch_path = project_branches_path(@project, branch_name: @issue.to_branch_name, ref: @project.default_branch, issue_iid: @issue.iid)
  - refs_path = refs_namespace_project_path(@project.namespace, @project, search: '')

  #js-create-mr-dropdown{ data: { project_path: @project.full_path,
    project_id: @project.id,
    project_default_branch: @project.default_branch,
    can_create_merge_request: can_create_merge_request.to_s,
    can_create_path: can_create_path,
    create_mr_path: create_mr_path,
    create_branch_path: create_branch_path,
    refs_path: refs_path,
    can_create_confidential_merge_request: can_create_confidential_merge_request?.to_s,
    is_confidential_issue: can_create_confidential_merge_request?.to_s } }
